.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}
.ex-2-square{
    transition: 2s;

}
.ex-2-square:active{
    width:800px;
}

.ex-3-square{
    transition: 1s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square{
    transition: 2s;
}
.ex-4-square:hover{
    opacity: 0;
    background: rgb(46, 43, 226);
}
.ex-5-square{
    transition: 2s;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    width: 10px;
    height: 10px;   
}
.ex-6-img:hover{
    filter:grayscale(1);
}
.ex-7-img{
 transition: 5s;   
}
.ex-7-img:hover{
    filter: invert(50); 
    filter:grayscale(0,5);
}
.ex-8-img{
    transition: 4s;
}
.ex-8-img:hover{
    border-radius: 5%;
    filter: sepia(5);
    filter: drop-shadow(20px 20px 30px red);
}
.ex-9-img{
    transition: 2s;
}
.ex-9-img:hover{
    border-radius: 8%;
    filter:blur(20px);
    filter: sepia(1);
    transform: scale(0,5);
}
.ex-10-icon{
    animation: gira 1s linear infinite ;
}
@keyframes gira{
   from{
    transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
.ex-11-icon:hover{
    animation: gira-stop 1s linear;

}
@keyframes gira-stop{
   0%{
    transform: rotate(0deg);
   }
   90%{
    transform: rotate(270deg);
   }
   100%{
    transform: rotate(0deg);
   }
}
.ex-12-button:hover .ex-12-top-white{
    animation: giral 1s linear;
}
@keyframes giral{
    0%{
        left:40%;
    }
    
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: girar 1s linear ;
}
@keyframes girar {
    0%{
        right: 40%;
    }
}
.ex-13-button:hover .ex-13-top-white{
    animation: ruotal 1s linear;
}
@keyframes ruotal{
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }

}
.ex-13-button:hover .ex-13-bottom-white{
    animation: ruotar 1s linear;
}
@keyframes ruotar {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
   
} 
    

